<h2>Welcome to Project</h2>
<hr>
<p>Hi <%= @client.last_name %> <%= @client.first_name %>,</p>
<p>Your random password is: <strong><%= @password %></strong></p>
<p>We hope see you soon on the app</p>
