
<div   ng-controller="DanaConnectCtrl">
 <FORM name="sign_in_form" action="https://secure.danaconnect.com/portal/session/externalSignIn/" method="post">
    <INPUT type="text" class="hidden" name="token" value="{{token}}">
 </FORM>
 </div>
 <script type="text/javascript">
$(document).ready(function(){
	this.forms[0].submit();
});
 </script>