<div class="page-bar">
			<ul class="page-breadcrumb">
					<li>
						<a ui-sref="dashboard"><i class="fa fa-home"></i></a>
					</li>
					<li  ng-class="active">
						<i class="fa fa-angle-right" ></i>
						<span><translate>Communications</translate></span>
					</li>

			</ul>
</div>
<div class="row-fluid padding-30" >
	<div class="col-md-12 nopadding">
		<div class="portlet sheet-table nopadding" ng-controller="MarketingCtrl">
			<div class="portlet-title-project">
				<div class="containerTitle">
					<i class="fa fa-envelope-o"></i>
					<span class="caption-subject" translate>Communications</span>       
				</div>
				<div class="container-search-add">
					<a ui-sref="" class="btn btn-md blue " ><span class="ng-scope" translate>Add Communication</span>&nbsp;<i class="fa fa-plus"></i></a>
				</div>

			</div>
			<div class="portlet-body no-padding">

			</div>	
			<div class="portlet-body no-padding">
				
				<div class="highlight table-responsive">
				   	<table class="table table-hover table-project">

						<tr ng-repeat="conversation in conversations" >
							<td ng-click="showConversation(conversation.id)">
							<div class="row">
								<div class="col-xs-6 col-md-4">
									<img src="/images/images_mktg/comunicaciones.png" width="80" height="80">
								</div>
								<div class="col-xs-12 col-md-8" >
									<div>
										<span ><strong translate> Alias</strong>:{{ conversation.conversation_alias }}</span>
									</div>
									<div>
										<span ><strong translate> Type</strong>:{{ conversation.conversation_type }}</span>
									</div>
									<div>
										<span ><strong translate> Name</strong>:{{ conversation.name }}</span>
									</div>
									
									<div>
										<span ><strong translate> Sent</strong>:{{ conversation.sent }}</span>
									</div>
									<div>
										<span ><strong translate> Successful</strong>:{{ conversation.successful }}</span>
									</div>
								</div>
							</div>		
							</td>
						</tr>
						
					</table>
				</div>
				<loading-message ng-model="conversations"></loading-message>
				<div class="text-right">
					<pagination next-text="{{ 'NEXT ' | translate }}" previous-text="{{ 'PREVIOUS' | translate }}" max-size="providers.$metadata.per_page" total-items="providers.$metadata.total" ng-model="currentPage" ng-change="refresh()"></pagination>
				</div>	
				
			</div>
		</div>
	</div>
</div>
