
<tabset>
  <tab class="tab-hotel-preferences">
    <tab-heading>
      <i class="fa fa-exchange"></i><span translate>Communications</span>
    </tab-heading>
    <div class="row-fluid">
      <iframe-dana-connect ng-url="urlFinal"></iframe-dana-connect>

   	</div>
   </tab>
   
</tabset>
