<!DOCTYPE html>
<html lang="en" ng-app="miAplicacion">
<head>
    <meta charset="UTF-8">
     <script src="http://code.angularjs.org/1.4.7/angular.min.js"></script>
     <script src="script.js"></script>
    <title>Wiki - API</title>
</head>
<body>
    <h1><a href="wiki.html">API Project - Dana</a></h1>
    <div class="contenedor" ng-controller="Controlador">
       <div>
       		<h3>MKTG_ACTIVATIONS</h3>
       		<p>Activaci&oacute;n y registro de conversaciones enviadas. La invocaci&oacute;n se ejecuta en Project, el envio en Danna y se registra la traza en Project</p>
       		<p>Atributos: {<br>"client_id":1, <br>
               "mktg_conversation_id":1,<br>
               "agent_id":1,<br>
               "status":"ACTIVE",<br>
               "languages_supported":"ES",<br>
               "comments":"Crontab: send email",<br>
               "fields":[{"name":"value" , "value":"value"}]<br>}
          </p>
       		<p>M&eacute;todos:</p>
       		<p><strong>POST /create_activations.json </strong>: Activa y registra una conversacion con los parametros entregados en create_activations.json. <a href="#create">Como se usa</a></p>
       		<p><strong>GET /mktg_activations.json</strong>: Lista todas las activaciones</p>
       		<p><strong>GET /mktg_activations/1.json </strong>: Muestra la activaci&oacute;n solicitada en 1.json </p>
       		<p><strong>GET /activations_agent/1.json </strong>: Lista las activaciones hechas por el agente con id 1.json</p>
       		<p><strong>GET /activations_conversation/1.json</strong>: Listas las activaciones hechas de la conversacion1.json</p>
       		<p><strong>GET /activations_client/1.json</strong>: Lista las activaciones enviadas al cliente 1.json</p>
       		
       </div>
       <div height="250px">
       	<p>&nbsp;<p>
       </div>
       <div><a name="create"> </a> 
       	<h3>Creaci&oacute;n</h3>
       	<p>Sea una conversaci&oacute;n definida en Dana con las siguientes caracter&iacute;sticas </p>
       	<p> dana_id":11111, <br>
         Tabla en Dana para persistir los datos":<br>
         <table border="1">
          <tr bgcolor="A0A0A0">
            <td colspan="2" align="center">LISTA_PRUEBA</td>
          </tr>
          <tr bgcolor="A0A0A0">
            <td>CODE</td><td>NAME</td>
          </tr>
          <tr>
            <td>LISTA_PRUEBA</td><td>name</td>
          </tr>
          <tr>
            <td>LISTA_PRUEBA_EMAIL</td><td>email</td>
          </tr>
         </table>
         <p>languages_supported":"ES/EN/PO", </p>
       </p>
       </div>
      <div height="250px">
        <p>&nbsp;<p>
      </div>
      <div>
          <h3>L&iacute;nea de Comando </h3>
          <p>
            curl -X POST -H "Content-Type: application/json" -d '{"client_id":1,"mktg_conversation_id":1,"agent_id":1,"status":"ACTIVE","languages_supported":"ES","comments":"Crontab: Send Welcome","fields":[{"name":"name" , "value":"Nombre Cliente"},{"name":"email", "value":"correo@gmail.com"}]}' localhost:3000/api/v1/mktg/create_activations.json

          </p>  
      </div>  

      <div height="250px">
        <p>&nbsp;<p>
      </div>
      <div>
          <h3>Angular</h3>
          <div>
              $.ajax('http://localhost:3000/api/v1/mktg/mktg_conversations.json', { <br>
                method: 'POST',<br>
                 data = {<br>
                           client_id: 1 ,<br>
                           mktg_conversation_id : 1 ,<br>
                           agent_id : 1,<br>
                           status : "ACTIVE" ,<br>
                           languages_supported : "ES" ,<br>
                           comments : "Crontab: Send Welcome" ,<br>
                           fields : []<br>
              }).then(function(data) {<br>
                console.log(data);<br>
              });<br>
           </div> 
            <div height="250px">
          <p>&nbsp;<p>
        </div>
          <div >
          <form ng-submit="activar()">
          <table>
            <tr>
              <td>Cliente: </td><td><input type="number" ng-model="client_id" /></td>
            </tr>
             <tr>
              <td>Conversacion: </td><td><input type="number" ng-model="mktg_conversation_id" /></td>
            </tr>
            <tr>
              <td>Agente: </td><td><input type="text" ng-model="agent_id" /></td>
            </tr>
            <tr>
              <td>Status: </td><td><input type="text" ng-model="status" /></td>
            </tr>
             <tr>
              <td>Lenguaje: </td><td><input type="text" ng-model="languages_supported" /></td>
            </tr>
             <tr>
              <td>Comentarios: </td><td><input type="text" ng-model="comments" /></td>
            </tr>
            
            <tr>
              <a name="campos"></a><td valign="top">Campos de Tabla Dana:<br>Nombre/Valor</td>
              <td>
                <table>
                  <tr>
                    <td>
                         <ul>
                            <li ng-repeat="item in lista_activations"> 
                                <span> {{item.name}} : {{item.value}} </span>
                            </li>
                        </ul>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" ng-model="name" />/
                      <input type="text" ng-model="value" />
                     
                      <a href="#campos" ng-click="agregarCampo()"> Agregar Campo </a>
                    </td>
                  </tr>
                </table>
                  
              </td>
            </tr>  
            <tr>
              <td><input type="submit" value="Guardar" /></td><td></td>
            </tr>
          </table>  
          </form>        
            
        </div>
              
       
    </div>
</body>
</html>