<!DOCTYPE html>
<html lang="en" ng-app="miAplicacion">
<head>
    <meta charset="UTF-8">
     <script src="http://code.angularjs.org/1.4.7/angular.min.js"></script>
     <script src="script.js"></script>
    <title>Wiki - API</title>
</head>
<body>
    <h1><a href="wiki.html">API Project - Dana</a></h1>
    <div class="contenedor" ng-controller="Controlador">
       <div>
       		<h3>MKTG_ACTIVATIONS</h3>
       		<p>Activaci&oacute;n y registro de conversaciones enviadas. La invocaci&oacute;n se ejecuta en Project, el envio en Danna y se registra la traza en Project</p>
       		<p>Atributos: {<br>"client_id":1, <br>
               "mktg_conversation_id":1,<br>
               "agent_id":1,<br>
               "status":"ACTIVE",<br>
               "languages_supported":"ES",<br>
               "comments":"Crontab: send email",<br>
               "msg_parameters":[{"name":"value" , "value":"value"}],<br>
               "fields":[{"name":"value" , "value":"value"}]<br>}
          </p>
       		
    
       </div>
      
      <div height="250px">
        <p>&nbsp;<p>
      </div>
      <div>
          <h3>L&iacute;nea de Comando </h3>
          <p>
            ccurl -X POST -H "Content-Type: application/json" -d '{"client_id":1,"mktg_conversation_id":29,"agent_id":1,"status":"ACTIVE","languages_supported":"ES","comments":"Crontab: Actualizar data cliente","msg_parameters":[{"var_name":"Andrea Mora"},{"var_email":"morabeans@gmail.com"},{"var_address":"1750 NW 107 TH AVENUE. 33172"}], "fields":[{"email":"morabeans@gmail.com"}]}' localhost:3000/api/v1/mktg/create_document.json

          </p>  
      </div>  

      <div height="250px">
        <p>&nbsp;<p>
      </div>
      <div>
          <h3>Angular</h3>
          <div>
              $.ajax('http://localhost:3000/api/v1/mktg/mktg_conversations.json', { <br>
                method: 'POST',<br>
                 data = {<br>
                           client_id: 1 ,<br>
                           mktg_conversation_id : 1 ,<br>
                           agent_id : 1,<br>
                           status : "ACTIVE" ,<br>
                           languages_supported : "ES" ,<br>
                           comments : "Crontab: Send Welcome" ,<br>
                           msg_parameters: [], <br>
                           fields : []<br>
              }).then(function(data) {<br>
                console.log(data);<br>
              });<br>
           </div> 
            <div height="250px">
          <p>&nbsp;<p>
        </div>
          <div >
          <form ng-submit="activarDocument()">
          <table>
            <tr>
              <td>Cliente: </td><td><input type="number" ng-model="client_id" /></td>
            </tr>
             <tr>
              <td>Conversacion: </td><td><input type="number" ng-model="mktg_conversation_id" /></td>
            </tr>
            <tr>
              <td>Agente: </td><td><input type="text" ng-model="agent_id" /></td>
            </tr>
            <tr>
              <td>Status: </td><td><input type="text" ng-model="status" /></td>
            </tr>
             <tr>
              <td>Lenguaje: </td><td><input type="text" ng-model="languages_supported" /></td>
            </tr>
             <tr>
              <td>Comentarios: </td><td><input type="text" ng-model="comments" /></td>
            </tr>
            
            <tr>
              <a name="campos"></a><td valign="top">Campos de Tabla Dana:<br>Nombre/Valor</td>
              <td>
                <table>
                  <tr>
                    <td>
                         <ul>
                            <li ng-repeat="item in lista_activations"> 
                                <span> {{item.name}} : {{item.value}} </span>
                            </li>
                        </ul>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" ng-model="name" />/
                      <input type="text" ng-model="value" />
                     
                      <a href="#campos" ng-click="agregarCampo()"> Agregar Campo </a>
                    </td>
                  </tr>
                </table>
                  
              </td>
            </tr>  
             <tr>
              <a name="campos_msg"></a><td valign="top">Variable del mensaje:<br>Nombre/Valor</td>
              <td>
                <table>
                  <tr>
                    <td>
                         <ul>
                            <li ng-repeat="item in lista_activations_msg"> 
                                <span> {{item.name}} : {{item.value}} </span>
                            </li>
                        </ul>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" ng-model="msg_name" />/
                      <input type="text" ng-model="msg_value" />
                     
                      <a href="#campos_msg" ng-click="agregarMsgCampo()"> Agregar Campo </a>
                    </td>
                  </tr>
                </table>
                  
              </td>
            </tr>  
            <tr>
              <td><input type="submit" value="Guardar" /></td><td></td>
            </tr>
          </table>  
          </form>        
            
        </div>
              
       
    </div>
</body>
</html>