<!DOCTYPE html>
<html lang="en" ng-app="miAplicacion">
<head>
    <meta charset="UTF-8">
     <script src="http://code.angularjs.org/1.4.7/angular.min.js"></script>
     <script src="script.js"></script>
    <title>Wiki - API</title>
</head>
<body>
    <h1><a href="wiki.html">API Project - Dana</a></h1>
    <div class="contenedor" ng-controller="Controlador">
       <div>
       		<h3>MKTG_CONVERSATIONS_MAIL</h3>
       		<p>Definici&oacute;n de las conversaciones creadas en Dana a ser invocadas desde Project</p>
       		<p>Atributos: {<br>"mktg_catalog_id":1,<br>"dana_id":11111,<br>"table_code":"TABLA_DANA",<br>"table_fields":[{"code":"CODE_ATTRIBUTE_TABLE","name":"ALIAS_ATTRIBUTE_TABLE"}],<br>"conversation_alias":"ALIAS",<br>"conversation_type":"TEMPLATE",<br>"url_preview":"url_preview",<br>"languages_supported":"ES/EN/PO",<br>"description":"Description",<br>
          "msg_field":{"title":"title" , "body": "body"} ,<br> 
          "msg_parameters":[{"var":"var_name"}],<br>}</p>
       		
       </div>
       <div height="250px">
       	<p>&nbsp;<p>
       </div>
       <div><a name="create"> </a> 
       	
          <h3>L&iacute;nea de Comando </h3>
          <p>
           curl -X POST -H "Content-Type: application/json" -d '{ "mktg_catalog_id": 1, "dana_id": 71941 , "table_code":"LIST_MSG", "table_fields":[ {"code":"LIST_MSG_EMAIL","name":"email"},{"code":"LIST_MSG_TITLE","name":"title"},{"code":"LIST_MSG_BODY","name":"body"}] , "conversation_alias": "ALIAS_30", "conversation_type":"DOCUMENT", "url_preview":"url_preview", "languages_supported": "ES/EN/PO/FR", "description": "Prueba de test la primera de las primeras", "msg_field":{"title":"Hola var_name",   "body": "var_name es importante"}, "msg_parameters":[{"var":"var_name"},{"var":"var_email"},{"var":"var_address"}, {"var":"var_what"}] }'  localhost:3000/api/v1/mktg/conversations_document.json 
          </p>  
      </div>  

      <div height="250px">
        <p>&nbsp;<p>
      </div>
      <div>
          <h3>Angular</h3>
          <div>
              $.ajax('http://localhost:3000/api/v1/mktg/mktg_conversations.json', { <br>
                method: 'POST',<br>
                 data = {<br>
                           mktg_catalog_id: 1 ,<br>
                           dana_id : 1 ,<br>
                           table_code : "TABLE" ,<br>
                           table_fields : [] ,<br>
                           conversation_alias : "ALIAS" ,<br>
                           conversation_type : "TEMPLATE" ,<br>
                           url_preview : "URL" ,<br>
                           languages_supported : "ES" ,<br>
                           description : "DESCRIPTION" , <br>
                           msg_field : {title , body} ,<br>
                           msg_parameters : [] ,<br>
              }).then(function(data) {<br>
                console.log(data);<br>
              });<br>
           </div> 
            <div height="250px">
          <p>&nbsp;<p>
        </div>
          <div >
          <form ng-submit="guardarDocument()">
          <table>
            <tr>
              <td>Catalogo Id: </td><td><input type="number" ng-model="mktg_catalog_id" /></td>
            </tr>
             <tr>
              <td>Dana Id: </td><td><input type="number" ng-model="dana_id" /></td>
            </tr>
            <tr>
              <td>Alias: </td><td><input type="text" ng-model="conversation_alias" /></td>
            </tr>
            <tr>
              <td>Tipo de Conversaci&oacute;n: </td><td><input type="text" ng-model="conversation_type" /></td>
            </tr>
             <tr>
              <td>Preview: </td><td><input type="text" ng-model="url_preview" /></td>
            </tr>
             <tr>
              <td>Lenguajes soportados: </td><td><input type="text" ng-model="languages_supported" /></td>
            </tr>
             <tr>
              <td>Descripci&oacute;n: </td><td><input type="text" ng-model="description" /></td>
            </tr> 
            <tr>
              <td>Tabla Dana: </td><td><input type="text" ng-model="table_code" /></td>
            </tr>
            <tr>
              <a name="campos"></a><td valign="top">Campos de Tabla Dana:<br>Code/Name</td>
              <td>
                  <table>
                    <tr>
                        <td>
                          <ul>
                              <li ng-repeat="item in lista"> 
                                  <span> {{item.code}} : {{item.name}} </span>
                              </li>
                          </ul>
                          
                        </td>
                     </tr> 
                     <tr>
                        <td>
                          <input type="text" ng-model="code" /> /
                           <input type="text" ng-model="name" />
                         
                          <a href="#name" ng-click="agregar()"> Agregar Atributo </a>
                        </td>
                     </tr> 
                  </table>
                  
                       
                  
              </td>
            </tr>  

            <tr>
              <td>Title: </td><td><input type="text" ng-model="msg_title" /></td>
            </tr>
            <tr>
              <td>Body: </td><td><textarea rows="5" cols="60" ng-model="msg_body" /></textarea>
            </tr>

            <tr>
              <a name="var_cmp"></a><td valign="top">Variables :</td>
              <td>
                  <table>
                    <tr>
                        <td>
                          <ul>
                              <li ng-repeat="item in lista_var"> 
                                  <span> {{item.var}}  </span>
                              </li>
                          </ul>
                          
                        </td>
                     </tr> 
                     <tr>
                        <td>
                          <input type="text" ng-model="var" /> 
                         
                          <a href="#var_cmp" ng-click="agregarvar()"> Agregar Variable </a>
                        </td>
                     </tr> 
                  </table>
                  
                       
                  
              </td>
            </tr>  


            <tr>
              <td><input type="submit" value="Guardar" /></td><td></td>
            </tr>
          </table>  
          </form>        
            
        </div>
              
       
    </div>
</body>
</html>