<!DOCTYPE html>
<html lang="en" ng-app="miAplicacion">
<head>
    <meta charset="UTF-8">
     <script src="http://code.angularjs.org/1.4.7/angular.min.js"></script>
     <script src="script.js"></script>
    <title>Wiki - API</title>
</head>
<body>
    <h1><a href="wiki.html">API Project - Dana</a></h1>
    <div class="contenedor" ng-controller="Controlador">
       <div>
       		<h3>MKTG_CONVERSATIONS</h3>
       		<p>Definici&oacute;n de las conversaciones creadas en Dana a ser invocadas desde Project</p>
       		<p>Atributos: {<br>"mktg_catalog_id":1,<br>"dana_id":11111,<br>"table_code":"TABLA_DANA",<br>"table_fields":[{"code":"CODE_ATTRIBUTE_TABLE","name":"ALIAS_ATTRIBUTE_TABLE"}],<br>"conversation_alias":"ALIAS",<br>"conversation_type":"TEMPLATE",<br>"url_preview":"url_preview",<br>"languages_supported":"ES/EN/PO",<br>"description":"Description"}</p>
       		<p>M&eacute;todos:</p>
       		<p><strong>POST /mktg_conversations.json </strong>: Crea una conversacion con los parametros entregados en mktg_conversations.json. <a href="#create">Como se usa</a></p>
       		<p><strong>GET /mktg_conversations.json </strong>: Lista todas las conversaciones</p>
       		<p><strong>GET /conversations_show/1.json </strong>: Muestra la informacion publica de una conversaci&oacute;n</p>
       		<p><strong>GET /conversations_show_detail/1.json </strong>: Muestra toda la informacion de una conversaci&oacute;n</p>
       		<p><strong>GET /conversations_alias/ALIAS.json </strong>: Listas todas las conversaciones que tienen contenido en su alias el valor ALIAS.json</p>
       		<p><strong>GET /conversations_catalog/1.json </strong>: Lista las conversaciones que pertenecen a un catalogo 1.json</p>
       		<p><strong>GET /parameters_activate/1.json </strong>: Parametros requeridos para activar la conversaci&oacute;n 1.json</p>
       		<p><strong>GET /parameters_activate_alias/ALIAS.json </strong>: Parametros requeridos para activar la conversaci&oacute;n con ALIAS.json</p>
       		
       </div>
       <div height="250px">
       	<p>&nbsp;<p>
       </div>
       <div><a name="create"> </a> 
       	<h3>Creaci&oacute;n</h3>
       	<p>Sea una conversaci&oacute;n definida en Dana con las siguientes caracter&iacute;sticas </p>
       	<p> dana_id":11111, <br>
         Tabla en Dana para persistir los datos":<br>
         <table border="1">
          <tr bgcolor="A0A0A0">
            <td colspan="2" align="center">LISTA_PRUEBA</td>
          </tr>
          <tr bgcolor="A0A0A0">
            <td>CODE</td><td>NAME</td>
          </tr>
          <tr>
            <td>LISTA_PRUEBA</td><td>name</td>
          </tr>
          <tr>
            <td>LISTA_PRUEBA_EMAIL</td><td>email</td>
          </tr>
         </table>
         <p>languages_supported":"ES/EN/PO", </p>
       </p>
       </div>
      <div height="250px">
        <p>&nbsp;<p>
      </div>
      <div>
          <h3>L&iacute;nea de Comando </h3>
          <p>
            curl -X POST -H "Content-Type: application/json" -d '{ "mktg_catalog_id": 1, "dana_id": 11111 , "table_code":"LISTA_PRUEBA", "table_fields":[ {"code":"LISTA_PRUEBA_NOMBRE","name":"name"},{"code":"LISTA_PRUEBA_EMAIL","name":"email"}] , "conversation_alias": "test", "conversation_type":"TEMPLATE", "url_preview":"url_preview", "languages_supported": "ES/EN/PO/FR", "description": "Prueba de creacion"}'  localhost:3000/api/v1/mktg/mktg_conversations.json 
          </p>  
      </div>  

      <div height="250px">
        <p>&nbsp;<p>
      </div>
      <div>
          <h3>Angular</h3>
          <div>
              $.ajax('http://localhost:3000/api/v1/mktg/mktg_conversations.json', { <br>
                method: 'POST',<br>
                 data = {<br>
                           mktg_catalog_id: 1 ,<br>
                           dana_id : 1 ,<br>
                           table_code : "TABLE" ,<br>
                           table_fields : [] ,<br>
                           conversation_alias : "ALIAS" ,<br>
                           conversation_type : "TEMPLATE" ,<br>
                           url_preview : "URL" ,<br>
                           languages_supported : "ES" ,<br>
                           description : "DESCRIPTION"<br>
              }).then(function(data) {<br>
                console.log(data);<br>
              });<br>
           </div> 
            <div height="250px">
          <p>&nbsp;<p>
        </div>
          <div >
          <form ng-submit="guardar()">
          <table>
            <tr>
              <td>Catalogo Id: </td><td><input type="number" ng-model="mktg_catalog_id" /></td>
            </tr>
             <tr>
              <td>Dana Id: </td><td><input type="number" ng-model="dana_id" /></td>
            </tr>
            <tr>
              <td>Alias: </td><td><input type="text" ng-model="conversation_alias" /></td>
            </tr>
            <tr>
              <td>Tipo de Conversaci&oacute;n: </td><td><input type="text" ng-model="conversation_type" /></td>
            </tr>
             <tr>
              <td>Preview: </td><td><input type="text" ng-model="url_preview" /></td>
            </tr>
             <tr>
              <td>Lenguajes soportados: </td><td><input type="text" ng-model="languages_supported" /></td>
            </tr>
             <tr>
              <td>Descripci&oacute;n: </td><td><input type="text" ng-model="description" /></td>
            </tr> 
            <tr>
              <td>Tabla Dana: </td><td><input type="text" ng-model="table_code" /></td>
            </tr>
            <tr>
              <a name="campos"></a><td valign="top">Campos de Tabla Dana:<br>Code/Name</td>
              <td>
                  <table>
                    <tr>
                        <td>
                          <ul>
                              <li ng-repeat="item in lista"> 
                                  <span> {{item.code}} : {{item.name}} </span>
                              </li>
                          </ul>
                          
                        </td>
                     </tr> 
                     <tr>
                        <td>
                          <input type="text" ng-model="code" /> /
                           <input type="text" ng-model="name" />
                         
                          <a href="#name" ng-click="agregar()"> Agregar Atributo </a>
                        </td>
                     </tr> 
                  </table>
                  
                       
                  
              </td>
            </tr>  
            <tr>
              <td><input type="submit" value="Guardar" /></td><td></td>
            </tr>
          </table>  
          </form>        
            
        </div>
              
       
    </div>
</body>
</html>