<div class="row" style="overflow:hidden;">
  <div class="page-content page-login" id="login_div">
    <div class="logo-login"></div>

    <form class="login-form"  style="color:#FFF;" ng-submit="savePassword()" role="form" ng-init="recoverForm = {}" >
      
      <div id="recover_msg" class="alert" ng-class="{'alert-success': success, 'alert-info':error}" ng-show="showMessage">
        <span id="result_msg">{{resultMsg}}</span>
      </div>
      <div ng-hide="success">      
        <h3 class="form-title" translate>Change Password</h3>
        <p translate>Enter your new password and confirmation, to set up the new password.</p>
        
        <div class="form-group">
          <div class="input-icon">
            <i class="fa fa-lock"></i>
            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="{{ 'Password' | translate }}" ng-model="recoverForm.password"/>
          </div>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <i class="fa fa-lock"></i>
            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="{{ 'confirm your new your password' | translate }}" ng-model="recoverForm.password_confirmation"/>
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn red pull-right">
            <span translate>Save</span> <i class="m-icon-swapright m-icon-white"></i>
          </button>
        </div>
        <div class="clearfix"></div>
      </div>
    </form>
  </div>
</div>
