<div class="page-bar hidden">
			<ul class="page-breadcrumb">
					<li>
						<a ui-sref="dashboard"><i class="fa fa-home"></i></a>
					</li>
			</ul>
</div>
<div id="dashboard" class="row padding-20">
	<!-- BEGIN DASHBOARD STATS -->
	<div class="row nopadding">
		<div class="col-md-4 nopadding">

		<div class="dashboard-stat blue pointer stat-1" ui-sref="clients">

				<div class="details">
					<i class="fa fa-users"></i>{{countClient}}
				</div>
				<div class="details-b"><translate>Clients</translate></div>
                <div class="details-c">29&nbsp;<translate>Have been downloaded the app</translate></div>
			</div>
		</div>

		<div class="col-md-4 nopadding">
			<div class="dashboard-stat blue pointer stat-2" ui-sref="sheet">

				<div class="details">
					<i class="icon-note"></i>{{agency.sheetsCount}}
				</div>
				<div class="details-b"><translate>Sheets</translate></div>
				<div class="details-c">100&nbsp;<translate>In transit</translate></div>
			</div>
		</div>
		<div class="col-md-4 nopadding">
			<div class="dashboard-stat blue pointer stat-3">
				<div class="details">
					<i class="fa fa-comment-o" ></i>
				</div> 
				<div class="details-b">
					<translate>Interactions</translate>  
				</div>             
			</div>
		</div>
	</div>
	<div class="row nopadding">
		<div class="col-md-8 nopadding container-title-map">
			<i class="fa fa-map-marker " ></i>
			&nbsp;<translate>Map</translate>
		</div>
		<div class="col-md-4 nopadding container-title-news">
			&nbsp;<translate>News</translate>
		</div>
	</div>
		<div class="row nopadding">
			<div class="col-md-8 nopadding ">
			 <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
				<ui-gmap-markers models="markers" click="'onClick'" coords="'self'" icon="" options='"options"'>
					<ui-gmap-windows show="show">
		                <div ng-non-bindable>{{title}}</div>
		            </ui-gmap-windows>
				</ui-gmap-markers>
			</ui-gmap-google-map>
		</div>
		<div class="col-md-4 nopadding container-news">
			<div ng-repeat="event in events" >
					<div class="container-type-new">
						<i class=" icon-book-open"></i>
					</div>
					<div class="separator"></div>
					<div class="container-message" >
						<span ng-if="event.type=='sheet'">{{ "The sheet" | translate}} ->&nbsp;<a href="/{{event.values[0]}}">{{event.values[1]}}</a>&nbsp;{{event.message | translate}}</span>

					</div>
					<span class="message-date">
						{{event.createdAt |date:"yyyy-MM-dd hh:mm:ss a"}}
					</span>
			</div>
		</div>
	</div>
	<!-- END DASHBOARD STATS -->
</div>
